.env.claudecode
.env
node_modules
.DS_Store
.vscode/settings.json
.env.claude
cdk/test-output
playwright-report/
test-results/
*.bak
*.orig
docs/testing/screenshots/
tests/screenshots/
**/coverage/
**/.coverage
frontend/src/build
experiments
memo.md
.kiro/settings
.kiro/specs
cdk/.env.dev
cdk/.env.prod
cdk/.env.staging
cdk/.env.devApNorthEast1
cdk/cdk.context.json
scripts
memory-bank

